.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-block-end: initial;
    background-color:  #380E5B;
    
    bottom:0;
    width: 100%;
    
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
  }
  
  .footer-icons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: #380E5B;
  }
  
  .footer-icons > * {
    margin-right: 5px;
  }